.cookie-monster {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 99;
}
.cookie-monster img {
    width: 350px;
    margin-right: 25px;
    opacity: 75%;
}
.cookie-monster img:hover {
    opacity: 100%;
}
